/* 封面样式 */
section.cover .cover-main {
  z-index: 100;
}

section.cover .cover-main > p:last-child a .iconfont {
  font-size: 1em;
}

section.cover.has-mask .mask {
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 0.1 !important;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

section.cover h6 .anchor span {
  font-family: "Lobster", cursive;
  font-size: 54px;
  color: rgba(39, 214, 245, 0.795);
}

section.cover h4 .anchor span {
  font-family: STKaiti, "Lobster", cursive;
  font-size: 18px;
  color: var(--theme-color);
  color: rgb(123, 109, 131);
}

section.cover h5 .anchor span {
  font-family: "Lobster", cursive;
  font-size: 24px;
  color: var(--theme-color);
}

/* 一级标题添加背景 */
h1 span {
  display: inline-block;
  font-family: STKaiti, "Microsoft YaHei", LiSu, STLiti;
  background: rgba(1, 225, 255, 0.384);
  color: #ffffff;
  padding: 5px 15px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(19, 130, 233, 0.664);
}

h2 span {
  display: inline-block;
  font-family: STKaiti, "Microsoft YaHei", LiSu, STLiti;
  font-size: 22px;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 4px rgb(1, 225, 255);
}

/*滚动条样式*/
::-webkit-scrollbar {
  width: 6px; /* 滚动条宽度 */
}

/* 滚动条颜色 */
::-webkit-scrollbar-thumb {
  background: #33a9dc;
  background-image: linear-gradient(#6ecd56, #33a9dc, #cb6196, #c16290);
  border-radius: 2em;
}

p {
  /* color: rgb(73, 73, 73); */
  font-family: STKaiti, "Microsoft YaHei", LiSu, STLiti;
  font-size: 18px;
}

li {
  /* color: rgb(73, 73, 73); */
  font-family: STKaiti, "Microsoft YaHei", LiSu, STLiti;
  font-size: 18px;
}

/* 侧边栏调节 */
.sidebar {
  padding-top: 1px;
}

.sidebar > h1 a {
  font-family: "Lobster", cursive;
}

aside.sidebar ul li {
  margin: 0;
  position: relative;
}

aside.sidebar ul li ul {
  margin: 6px 5;
}

aside.sidebar ul li p {
  padding-left: 10px;
  font-size: 18px;
  font-weight: normal;
}

aside.sidebar ul li a {
  line-height: 35px;
  font-size: 16px;
  padding: 3px 0 3px 10px;
  color: rgb(37, 150, 179);
}

aside.sidebar ul li.active > a {
  font-size: 16px !important;
}

aside.sidebar ul li.active > a:before {
  content: "" !important;
  position: absolute !important;
  margin: 0 !important;
  width: 10px !important;
  height: 10px !important;
  top: 15px !important;
  left: -2px !important;
  border-radius: 50% !important;
  background-color: #4ae3fe !important;
  box-shadow: 0 0 0 3px rgba(16, 177, 218, 0.4) !important;
}

/*调节侧边栏结束*/

/* ---------------------------- 代码块设置 start ------------------------------*/

/*代码块背景*/
/* p code {
  background-color: rgb(255, 255, 255) !important;
} */

.markdown-section p.tip,
.markdown-section tr:nth-child(1n) {
  font-size: 16px !important;
}

.markdown-section h1 {
  margin: 3rem 0 2rem 0;
}

.markdown-section h2 {
  margin: 2rem 0 1rem;
}

/* 代码块头部图标 start */
.markdown-section pre:before {
  content: "";
  display: block;
  background: url(https://cdn.jsdelivr.net/gh/EchoHeim/Astapb/docs/images/code_pin.png);
  height: 30px;
  background-size: 50px;
  background-repeat: no-repeat;
  background-color: #1c1c1c;
  background-position: 10px 10px;
}
/*代码块头部图标 end*/

.markdown-section pre > code {
  color: #c0c3c1 !important;
  font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", STKaiti,
    "Inconsolata", consolas, "PingFang SC", "Microsoft YaHei", Arial, sans-serif,
    monospace !important;
  background-color: #282c34 !important;
  font-size: 15px !important;
  white-space: pre !important;
  line-height: 1.5 !important;
  -moz-tab-size: 4 !important;
  -o-tab-size: 4 !important;
  tab-size: 4 !important;
  border-radius: 5px !important;
  padding-left: 20px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  letter-spacing: 1px !important;
}

.markdown-section pre {
  box-shadow: 2px 2px 20px 6px rgba(0, 217, 255, 0.308) !important; /* 边框颜色 */
  padding-left: 0 !important;
  padding-right: 0px !important;
  background-color: #1d1d1d !important;
}

img,
pre {
  border-radius: 5px;
}

ol,
ul,
li {
  line-height: 27px !important;
  font-size: 16px !important;
}

.markdown-section {
  margin: 5 1% !important;
}

.markdown-section a:not(:hover) {
  text-decoration: none;
}

/*------------------------------- 代码块设置 end -----------------------------*/

/*添加代码块复制按钮样式*/
.docsify-copy-code-button {
  background: #00d684 !important;
  color: #ffffff !important;
  font-size: 12px !important;
}

::after {
  color: #06eeffee !important;
  font-size: 14px !important;
}

/*修改代码块代码颜色显示*/
.token.directive.keyword {
  color: #4faee2 !important;
}

.token.keyword {
  color: #c678dd !important;
}

.token.comment {
  color: #737c8b !important;
}

.token.tag {
  color: #a589ad !important;
}

.token.attr-name {
  color: #de916c !important;
}

.token.attr-value {
  color: #4faee2 !important;
}

.token.macro.property {
  color: #4faee2 !important;
}

.token.function {
  color: #e6b456 !important;
}
.token.string {
  color: #98b755 !important;
}
.token.punctuation {
  color: #c0c3c1 !important;
}

.token.number {
  color: #c0c3c1 !important;
}

a.section-link {
  font-size: 0.9rem !important;
}
